.container {
    width: 1280px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 0 16px;
}

.footer {
    height: 72px;
    background-color: #282828;
    position: absolute;
    width: 100vw;
    bottom: 0px;
    padding: 26px 0;
    font-weight: 200;
    font-size: 0.9em;
}

.footer__copyright {
    color: #808080;
}

.footer__info {
    list-style: none;
    display: flex;
    gap: 32px;
}

.footer__link {
    color: #808080;
}

.footer_transparent {
    background: transparent;
    padding: 3.2em 16px 1em;
    font-size: 0.8em;
}

.footer__link_transparent {
    color: #E6E6E6;
}